{"openapi":"3.0.1","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"https://mindmate.shop/api","description":"Generated server url"}],"tags":[{"name":"í”„ë¡œí•„","description":"ìŠ¤í”¼ì»¤/ë¦¬ìŠ¤ë„ˆ í”„ë¡œí•„ ê´€ë¦¬ API"},{"name":"ì¸ì¦","description":"íšŒì›ê°€ìž…, ë¡œê·¸ì¸, ì´ë©”ì¼ ì¸ì¦ ë“± ì¸ì¦ ê´€ë ¨ API"}],"paths":{"/api/profile":{"put":{"tags":["í”„ë¡œí•„"],"operationId":"updateProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileResponse"}}}}}},"post":{"tags":["í”„ë¡œí•„"],"operationId":"createProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileResponse"}}}}}}},"/api/matching/{matchingId}":{"get":{"tags":["matching-controller"],"operationId":"getMatchingDetail","parameters":[{"name":"matchingId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MatchingDetailResponse"}}}}}},"put":{"tags":["matching-controller"],"operationId":"updateMatching","parameters":[{"name":"matchingId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MatchingUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MatchingDetailResponse"}}}}}}},"/api/magazine/{magazineId}":{"get":{"tags":["magazine-controller"],"operationId":"getMagazine","parameters":[{"name":"magazineId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MagazineDetailResponse"}}}}}},"put":{"tags":["magazine-controller"],"operationId":"updateMagazine","parameters":[{"name":"magazineId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MagazineUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MagazineResponse"}}}}}},"delete":{"tags":["magazine-controller"],"operationId":"deleteMagazine","parameters":[{"name":"magazineId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/reviews":{"post":{"tags":["review-controller"],"operationId":"createReview","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewResponse"}}}}}}},"/api/report":{"post":{"tags":["report-controller"],"operationId":"report","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportResponse"}}}}}}},"/api/matching":{"get":{"tags":["matching-controller"],"operationId":"getMatchings","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}},{"name":"category","in":"query","required":false,"schema":{"type":"string","enum":["ACADEMIC","CAREER","RELATIONSHIP","MENTAL_HEALTH","CAMPUS_LIFE","PERSONAL_GROWTH","FINANCIAL","EMPLOYMENT","OTHER"]}},{"name":"department","in":"query","required":false,"schema":{"type":"string"}},{"name":"requiredRole","in":"query","required":false,"schema":{"type":"string","enum":["SPEAKER","LISTENER"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageMatchingResponse"}}}}}},"post":{"tags":["matching-controller"],"operationId":"createMatching","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MatchingCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MatchingCreateResponse"}}}}}}},"/api/matching/{matchingId}/apply":{"post":{"tags":["matching-controller"],"operationId":"applyForMatching","parameters":[{"name":"matchingId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WaitingUserRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/matching/{matchingId}/accept/{waitingId}":{"post":{"tags":["matching-controller"],"operationId":"acceptMatching","parameters":[{"name":"matchingId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"waitingId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/matching/auto":{"post":{"tags":["matching-controller"],"operationId":"autoMatching","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutoMatchingRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/magazine":{"get":{"tags":["magazine-controller"],"operationId":"getMagazines","parameters":[{"name":"category","in":"query","required":false,"schema":{"type":"string","enum":["ACADEMIC","CAREER","RELATIONSHIP","MENTAL_HEALTH","CAMPUS_LIFE","PERSONAL_GROWTH","FINANCIAL","EMPLOYMENT","OTHER"]}},{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"string","default":"LATEST","enum":["POPULARITY","LATEST","OLDEST"]}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageMagazineResponse"}}}}}},"post":{"tags":["magazine-controller"],"operationId":"createMagazine","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MagazineCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MagazineResponse"}}}}}}},"/api/custom-forms":{"post":{"tags":["custom-form-controller"],"operationId":"createCustomForm","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFormRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFormResponse"}}}}}}},"/api/custom-forms/{formId}/respond":{"post":{"tags":["custom-form-controller"],"operationId":"respondToCustomForm","parameters":[{"name":"formId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RespondToCustomFormRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFormResponse"}}}}}}},"/api/chat/rooms/{roomId}/close":{"post":{"tags":["chat-controller"],"operationId":"closeChatRoom","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/chat/rooms/{roomId}/close/reject":{"post":{"tags":["chat-controller"],"operationId":"rejectCloseChatRoom","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/chat/rooms/{roomId}/close/accept":{"post":{"tags":["chat-controller"],"operationId":"acceptCloseChatRoom","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/chat/messages":{"post":{"tags":["chat-controller"],"operationId":"sendMessage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatMessageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatMessageResponse"}}}}}}},"/api/chat/messages/{messageId}/reactions":{"get":{"tags":["message-interaction-controller"],"operationId":"getReactions","parameters":[{"name":"messageId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MessageReactionResponse"}}}}}}},"post":{"tags":["message-interaction-controller"],"operationId":"addReaction","parameters":[{"name":"messageId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReactionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageReactionResponse"}}}}}}},"/api/auth/register":{"post":{"tags":["ì¸ì¦"],"summary":"íšŒì›ê°€ìž…","description":"ìƒˆë¡œìš´ ì‚¬ìš©ìžë¥¼ ë“±ë¡í•˜ê³  ì¸ì¦ ë©”ì¼ì„ ë°œì†¡í•©ë‹ˆë‹¤.","operationId":"registerUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignUpRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/auth/refresh":{"post":{"tags":["ì¸ì¦"],"summary":"í† í° ê°±ì‹ ","description":"ë¦¬í”„ë ˆì‹œ í† í°ì„ ì‚¬ìš©í•˜ì—¬ ìƒˆë¡œìš´ ì•¡ì„¸ìŠ¤ í† í°ì„ ë°œê¸‰ë°›ìŠµë‹ˆë‹¤.","operationId":"refresh","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"Access-Token","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenResponse"}}}}}}},"/api/auth/logout":{"post":{"tags":["ì¸ì¦"],"summary":"ë¡œê·¸ì•„ì›ƒ","description":"í˜„ìž¬ ì„¸ì…˜ì„ ì¢…ë£Œí•˜ê³  í† í°ì„ ë¬´íš¨í™”í•©ë‹ˆë‹¤.","operationId":"logout","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/auth/login":{"post":{"tags":["ì¸ì¦"],"summary":"ë¡œê·¸ì¸","description":"ì´ë©”ì¼ê³¼ ë¹„ë°€ë²ˆí˜¸ë¡œ ë¡œê·¸ì¸í•©ë‹ˆë‹¤.","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginResponse"}}}}}}},"/api/auth/email/resend":{"post":{"tags":["ì¸ì¦"],"summary":"ì¸ì¦ ë©”ì¼ ìž¬ë°œì†¡","description":"ì´ë©”ì¼ ì¸ì¦ ë©”ì¼ì„ ìž¬ë°œì†¡í•©ë‹ˆë‹¤.","operationId":"resendVerificationEmail","parameters":[{"name":"email","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/admin/reports/users/{userId}/unsuspend":{"post":{"tags":["admin-report-controller"],"operationId":"unsuspendUser","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnsuspendRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/admin/reports/users/{userId}/suspend":{"post":{"tags":["admin-report-controller"],"operationId":"suspendUser","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuspensionRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/admin/magazine/{magazineId}":{"post":{"tags":["admin-magazine-controller"],"operationId":"publishMagazine","parameters":[{"name":"magazineId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"isAccepted","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MagazineResponse"}}}}}}},"/api/matching/{matchingId}/close":{"patch":{"tags":["matching-controller"],"operationId":"closeMatching","parameters":[{"name":"matchingId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/reviews/{reviewId}":{"get":{"tags":["review-controller"],"operationId":"getReview","parameters":[{"name":"reviewId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewResponse"}}}}}}},"/api/reviews/profile/{profileId}":{"get":{"tags":["review-controller"],"operationId":"getProfileReviews","parameters":[{"name":"profileId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"sortType","in":"query","required":false,"schema":{"type":"string","default":"latest"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageReviewResponse"}}}}}}},"/api/reviews/profile/{profileId}/summary":{"get":{"tags":["review-controller"],"operationId":"getProfileReviewSummary","parameters":[{"name":"profileId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileReviewSummaryResponse"}}}}}}},"/api/reviews/chat-room/{chatRoomId}":{"get":{"tags":["review-controller"],"operationId":"getChatRoomReviews","parameters":[{"name":"chatRoomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReviewResponse"}}}}}}}},"/api/reviews/can-review/{chatRoomId}":{"get":{"tags":["review-controller"],"operationId":"canReview","parameters":[{"name":"chatRoomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"boolean"}}}}}}}},"/api/profile/{profileId}":{"get":{"tags":["í”„ë¡œí•„"],"summary":"í”„ë¡œí•„ idë¡œ í”„ë¡œí•„ ìƒì„¸ ì¡°íšŒ","description":"íŠ¹ì • í”„ë¡œí•„ì„ ì¡°íšŒí•©ë‹ˆë‹¤.","operationId":"getProfileById","parameters":[{"name":"profileId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileDetailResponse"}}}}}}},"/api/profile/users/{userId}":{"get":{"tags":["í”„ë¡œí•„"],"summary":"íŠ¹ì • ì‚¬ìš©ìž í”„ë¡œí•„ ì¡°íšŒ","description":"íŠ¹ì • ì‚¬ìš©ìžì˜ í”„ë¡œí•„ì„ ì¡°íšŒí•©ë‹ˆë‹¤.","operationId":"getUserProfile","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileDetailResponse"}}}}}}},"/api/profile/users/{userId}/simple":{"get":{"tags":["í”„ë¡œí•„"],"summary":"ê°„ì†Œí™”ëœ í”„ë¡œí•„ ì¡°íšŒ","description":"íŠ¹ì • ìœ ì €ì˜ ê°„ì†Œí™”ëœ í”„ë¡œí•„ì„ ì¡°íšŒí•©ë‹ˆë‹¤.","operationId":"getUserSimpleProfile","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileSimpleResponse"}}}}}}},"/api/matching/search":{"get":{"tags":["matching-controller"],"operationId":"searchMatchings","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}},{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}},{"name":"category","in":"query","required":false,"schema":{"type":"string","enum":["ACADEMIC","CAREER","RELATIONSHIP","MENTAL_HEALTH","CAMPUS_LIFE","PERSONAL_GROWTH","FINANCIAL","EMPLOYMENT","OTHER"]}},{"name":"department","in":"query","required":false,"schema":{"type":"string"}},{"name":"requiredRole","in":"query","required":false,"schema":{"type":"string","enum":["SPEAKER","LISTENER"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageMatchingResponse"}}}}}}},"/api/matching/matchings/{matchingId}/waiting-users":{"get":{"tags":["matching-controller"],"operationId":"getWaitingUsers","parameters":[{"name":"matchingId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageWaitingUserResponse"}}}}}}},"/api/matching/history/participated":{"get":{"tags":["matching-controller"],"operationId":"getParticipatedMatchingHistory","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageMatchingResponse"}}}}}}},"/api/matching/history/created":{"get":{"tags":["matching-controller"],"operationId":"getCreatedMatchingHistory","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageMatchingResponse"}}}}}}},"/api/custom-forms/{formId}":{"get":{"tags":["custom-form-controller"],"operationId":"getCustomForm","parameters":[{"name":"formId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFormResponse"}}}}}}},"/api/custom-forms/chat-room/{chatRoomId}":{"get":{"tags":["custom-form-controller"],"operationId":"getCustomFormsByChatRoom","parameters":[{"name":"chatRoomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CustomFormResponse"}}}}}}}},"/api/chat/rooms":{"get":{"tags":["chat-controller"],"operationId":"getChatRooms","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageChatRoomResponse"}}}}}}},"/api/chat/rooms/{roomId}/search":{"get":{"tags":["chat-controller"],"operationId":"searchMessages","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"keyword","in":"query","required":true,"schema":{"type":"string"}},{"name":"oldestLoadedMessageId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"newestLoadedMessageId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatSearchResponse"}}}}}}},"/api/chat/rooms/{roomId}/search/navigate":{"get":{"tags":["chat-controller"],"operationId":"navigateToSearchResult","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"keyword","in":"query","required":true,"schema":{"type":"string"}},{"name":"targetMessageId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"oldestLoadedMessageId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchNavigationResponse"}}}}}}},"/api/chat/rooms/{roomId}/messages":{"get":{"tags":["chat-controller"],"operationId":"getChatRoomWithMessages","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":30}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatRoomDetailResponse"}}}}}}},"/api/chat/rooms/{roomId}/messages/before/{messageId}":{"get":{"tags":["chat-controller"],"operationId":"getPreviousMessages","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"messageId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":30}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChatMessageResponse"}}}}}}}},"/api/chat/rooms/status/{status}":{"get":{"tags":["chat-controller"],"operationId":"getChatRoomsByStatus","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"status","in":"path","required":true,"schema":{"type":"string","enum":["ACTIVE","PENDING","CLOSED","CLOSE_REQUEST","DELETED"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageChatRoomResponse"}}}}}}},"/api/chat/rooms/role/{roleType}":{"get":{"tags":["chat-controller"],"operationId":"getChatRoomsByRole","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"roleType","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageChatRoomResponse"}}}}}}},"/api/auth/email/verify":{"get":{"tags":["ì¸ì¦"],"summary":"ì´ë©”ì¼ ì¸ì¦","description":"ì´ë©”ì¼ ì¸ì¦ í† í°ì„ ê²€ì¦í•©ë‹ˆë‹¤.","operationId":"verifyEmail","parameters":[{"name":"token","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenResponse"}}}}}}},"/api/admin/reports":{"get":{"tags":["admin-report-controller"],"operationId":"getReports","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"target","in":"query","required":false,"schema":{"type":"string","enum":["MATCHING","CHATROOM","PROFILE"]}},{"name":"reason","in":"query","required":false,"schema":{"type":"string","enum":["ABUSIVE_LANGUAGE","SEXUAL_HARASSMENT","SPAM_OR_REPETITIVE","MALICIOUS_LINK","EXCESSIVE_PROMOTION","PERSONAL_INFO_VIOLATION","ILLEGAL_CONTENT","OTHER"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageReportDetailResponse"}}}}}}},"/api/admin/reports/{reportId}":{"get":{"tags":["admin-report-controller"],"operationId":"getReport","parameters":[{"name":"reportId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportDetailResponse"}}}}}}},"/api/admin/reports/statistics":{"get":{"tags":["admin-report-controller"],"operationId":"getStatistics","parameters":[{"name":"startDate","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"endDate","in":"query","required":false,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportStatisticsResponse"}}}}}}},"/api/admin/magazine/stats/category":{"get":{"tags":["admin-magazine-controller"],"operationId":"getCategoryStatistics","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MagazineCategoryStatistics"}}}}}}}},"/api/admin/magazine/pending":{"get":{"tags":["admin-magazine-controller"],"operationId":"getPendingMagazines","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageMagazineResponse"}}}}}}},"/api/matching/waitingUsers/{waitingUserId}":{"delete":{"tags":["matching-controller"],"operationId":"cancelWaiting","parameters":[{"name":"waitingUserId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}}},"components":{"schemas":{"ProfileUpdateRequest":{"type":"object","properties":{"nickname":{"type":"string"},"profileImage":{"type":"string"},"department":{"type":"string"},"entranceTime":{"type":"integer","format":"int32"},"graduation":{"type":"boolean"}}},"ProfileResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nickname":{"type":"string"},"message":{"type":"string"}}},"MatchingUpdateRequest":{"required":["category","title"],"type":"object","properties":{"title":{"maxLength":50,"minLength":0,"type":"string"},"description":{"maxLength":100,"minLength":0,"type":"string"},"category":{"type":"string","enum":["ACADEMIC","CAREER","RELATIONSHIP","MENTAL_HEALTH","CAMPUS_LIFE","PERSONAL_GROWTH","FINANCIAL","EMPLOYMENT","OTHER"]},"allowRandom":{"type":"boolean"},"showDepartment":{"type":"boolean"},"anonymous":{"type":"boolean"}}},"MatchingDetailResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"title":{"type":"string"},"description":{"type":"string"},"category":{"type":"string","enum":["ACADEMIC","CAREER","RELATIONSHIP","MENTAL_HEALTH","CAMPUS_LIFE","PERSONAL_GROWTH","FINANCIAL","EMPLOYMENT","OTHER"]},"status":{"type":"string","enum":["OPEN","MATCHED","CANCELED"]},"createdAt":{"type":"string","format":"date-time"},"waitingCount":{"type":"integer","format":"int32"},"anonymous":{"type":"boolean"},"showDepartment":{"type":"boolean"},"creatorRole":{"type":"string","enum":["SPEAKER","LISTENER"]},"creatorId":{"type":"integer","format":"int64"},"creatorNickname":{"type":"string"},"creatorProfileImage":{"type":"string"},"creatorDepartment":{"type":"string"},"creatorCounselingCount":{"type":"integer","format":"int32"},"creatorAvgRating":{"type":"number","format":"double"}}},"MagazineUpdateRequest":{"required":["category","content","title"],"type":"object","properties":{"title":{"type":"string"},"content":{"type":"string"},"category":{"type":"string","enum":["ACADEMIC","CAREER","RELATIONSHIP","MENTAL_HEALTH","CAMPUS_LIFE","PERSONAL_GROWTH","FINANCIAL","EMPLOYMENT","OTHER"]}}},"MagazineResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"title":{"type":"string"},"content":{"type":"string"},"category":{"type":"string","enum":["ACADEMIC","CAREER","RELATIONSHIP","MENTAL_HEALTH","CAMPUS_LIFE","PERSONAL_GROWTH","FINANCIAL","EMPLOYMENT","OTHER"]},"authorName":{"type":"string"},"authorId":{"type":"integer","format":"int64"},"likeCount":{"type":"integer","format":"int32"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"ReviewRequest":{"type":"object","properties":{"chatRoomId":{"type":"integer","format":"int64"},"rating":{"type":"integer","format":"int32"},"comment":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}}}},"ReviewResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"chatRoomId":{"type":"integer","format":"int64"},"reviewerId":{"type":"integer","format":"int64"},"reviewerNickname":{"type":"string"},"reviewerProfileImage":{"type":"string"},"rating":{"type":"integer","format":"int32"},"comment":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}},"createdAt":{"type":"string","format":"date-time"}}},"ReportRequest":{"required":["reportReason","reportTarget","reportedUserId","targetId"],"type":"object","properties":{"reportedUserId":{"type":"integer","format":"int64"},"reportReason":{"type":"string","enum":["ABUSIVE_LANGUAGE","SEXUAL_HARASSMENT","SPAM_OR_REPETITIVE","MALICIOUS_LINK","EXCESSIVE_PROMOTION","PERSONAL_INFO_VIOLATION","ILLEGAL_CONTENT","OTHER"]},"additionalComment":{"type":"string"},"reportTarget":{"type":"string","enum":["MATCHING","CHATROOM","PROFILE"]},"targetId":{"type":"integer","format":"int64"}}},"ReportResponse":{"type":"object","properties":{"reportId":{"type":"integer","format":"int64"},"message":{"type":"string"}}},"ProfileCreateRequest":{"type":"object","properties":{"nickname":{"type":"string"},"profileImage":{"type":"string"},"department":{"type":"string"},"entranceTime":{"type":"integer","format":"int32"},"graduation":{"type":"boolean"}}},"MatchingCreateRequest":{"required":["category","creatorRole","title"],"type":"object","properties":{"title":{"maxLength":100,"minLength":2,"type":"string"},"description":{"maxLength":500,"minLength":0,"type":"string"},"category":{"type":"string","enum":["ACADEMIC","CAREER","RELATIONSHIP","MENTAL_HEALTH","CAMPUS_LIFE","PERSONAL_GROWTH","FINANCIAL","EMPLOYMENT","OTHER"]},"creatorRole":{"type":"string","enum":["SPEAKER","LISTENER"]},"showDepartment":{"type":"boolean"},"allowRandom":{"type":"boolean"},"anonymous":{"type":"boolean"}}},"MatchingCreateResponse":{"type":"object","properties":{"matchingId":{"type":"integer","format":"int64"},"chatRoomId":{"type":"integer","format":"int64"}}},"WaitingUserRequest":{"type":"object","properties":{"message":{"maxLength":100,"minLength":0,"type":"string"},"anonymous":{"type":"boolean"}}},"AutoMatchingRequest":{"type":"object","properties":{"userRole":{"type":"string","enum":["SPEAKER","LISTENER"]},"anonymous":{"type":"boolean"},"showDepartment":{"type":"boolean"}}},"MagazineCreateRequest":{"required":["category","content","title"],"type":"object","properties":{"title":{"type":"string"},"content":{"type":"string"},"category":{"type":"string","enum":["ACADEMIC","CAREER","RELATIONSHIP","MENTAL_HEALTH","CAMPUS_LIFE","PERSONAL_GROWTH","FINANCIAL","EMPLOYMENT","OTHER"]}}},"CustomFormRequest":{"required":["chatRoomId","questions"],"type":"object","properties":{"chatRoomId":{"type":"integer","format":"int64"},"questions":{"type":"array","items":{"type":"string"}}}},"CustomFormItemDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"question":{"type":"string"},"answer":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"CustomFormResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"chatRoomId":{"type":"integer","format":"int64"},"creatorId":{"type":"integer","format":"int64"},"creatorName":{"type":"string"},"responderId":{"type":"integer","format":"int64"},"responderName":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"respondedAt":{"type":"string","format":"date-time"},"items":{"type":"array","items":{"$ref":"#/components/schemas/CustomFormItemDTO"}},"answered":{"type":"boolean"}}},"RespondToCustomFormRequest":{"required":["answers","chatRoomId","formId"],"type":"object","properties":{"formId":{"type":"integer","format":"int64"},"chatRoomId":{"type":"integer","format":"int64"},"answers":{"type":"array","items":{"type":"string"}}}},"ChatMessageRequest":{"type":"object","properties":{"roomId":{"type":"integer","format":"int64"},"content":{"type":"string"},"type":{"type":"string","enum":["TEXT","IMAGE","STICKER","EMOTICON","CUSTOM_FORM","SYSTEM"]}}},"ChatMessageResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"senderId":{"type":"integer","format":"int64"},"senderName":{"type":"string"},"content":{"type":"string"},"type":{"type":"string","enum":["TEXT","IMAGE","STICKER","EMOTICON","CUSTOM_FORM","SYSTEM"]},"createdAt":{"type":"string","format":"date-time"},"reactionCounts":{"type":"object","additionalProperties":{"type":"integer","format":"int32"}},"userReaction":{"type":"string","enum":["LIKE","HEART","LAUGH","SAD","ANGRY"]},"filtered":{"type":"boolean"},"error":{"type":"boolean"},"errorMessage":{"type":"string"},"customForm":{"$ref":"#/components/schemas/CustomFormResponse"}}},"ReactionRequest":{"type":"object","properties":{"messageId":{"type":"integer","format":"int64"},"roomId":{"type":"integer","format":"int64"},"reactionType":{"type":"string","enum":["LIKE","HEART","LAUGH","SAD","ANGRY"]}}},"MessageReactionResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"messageId":{"type":"integer","format":"int64"},"userId":{"type":"integer","format":"int64"},"userName":{"type":"string"},"reactionType":{"type":"string","enum":["LIKE","HEART","LAUGH","SAD","ANGRY"]}}},"SignUpRequest":{"required":["confirmPassword","email","password"],"type":"object","properties":{"email":{"type":"string"},"password":{"type":"string"},"confirmPassword":{"type":"string"},"agreeToTerm":{"type":"boolean"}}},"TokenResponse":{"type":"object","properties":{"accessToken":{"type":"string"},"refreshToken":{"type":"string"},"tokenType":{"type":"string"}}},"LoginRequest":{"required":["email","password"],"type":"object","properties":{"email":{"type":"string"},"password":{"type":"string"}}},"LoginResponse":{"type":"object","properties":{"accessToken":{"type":"string"},"refreshToken":{"type":"string"},"currentRole":{"type":"string","enum":["ROLE_UNVERIFIED","ROLE_USER","ROLE_PROFILE","ROLE_SUSPENDED","ROLE_ADMIN"]},"message":{"type":"string"}}},"UnsuspendRequest":{"type":"object","properties":{"reportCount":{"type":"integer","format":"int32"}}},"SuspensionRequest":{"type":"object","properties":{"reportCount":{"type":"integer","format":"int32"},"durationDays":{"type":"integer","format":"int32"},"duration":{"type":"object","properties":{"seconds":{"type":"integer","format":"int64"},"nano":{"type":"integer","format":"int32"},"negative":{"type":"boolean"},"zero":{"type":"boolean"},"units":{"type":"array","items":{"type":"object","properties":{"dateBased":{"type":"boolean"},"timeBased":{"type":"boolean"},"durationEstimated":{"type":"boolean"}}}}}}}},"PageReviewResponse":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/ReviewResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"PageableObject":{"type":"object","properties":{"offset":{"type":"integer","format":"int64"},"sort":{"$ref":"#/components/schemas/SortObject"},"pageSize":{"type":"integer","format":"int32"},"paged":{"type":"boolean"},"pageNumber":{"type":"integer","format":"int32"},"unpaged":{"type":"boolean"}}},"SortObject":{"type":"object","properties":{"empty":{"type":"boolean"},"sorted":{"type":"boolean"},"unsorted":{"type":"boolean"}}},"ProfileReviewSummaryResponse":{"type":"object","properties":{"averageRating":{"type":"number","format":"double"},"totalReviews":{"type":"integer","format":"int32"},"tagCounts":{"type":"object","additionalProperties":{"type":"integer","format":"int32"}},"recentReviews":{"type":"array","items":{"$ref":"#/components/schemas/ReviewListResponse"}}}},"ReviewListResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"reviewerNickname":{"type":"string"},"rating":{"type":"integer","format":"int32"},"comment":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}},"createdAt":{"type":"string","format":"date-time"}}},"ProfileDetailResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"userId":{"type":"integer","format":"int64"},"nickname":{"type":"string"},"profileImage":{"type":"string"},"department":{"type":"string"},"entranceTime":{"type":"integer","format":"int32"},"graduation":{"type":"boolean"},"totalCounselingCount":{"type":"integer","format":"int32"},"avgResponseTime":{"type":"integer","format":"int32"},"averageRating":{"type":"number","format":"double"},"evaluationTags":{"uniqueItems":true,"type":"array","items":{"type":"string"}},"reviews":{"type":"array","items":{"$ref":"#/components/schemas/ReviewResponse"}},"points":{"type":"integer","format":"int32"},"createdAt":{"type":"string","format":"date-time"}}},"ProfileSimpleResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"userId":{"type":"integer","format":"int64"},"nickname":{"type":"string"},"profileImage":{"type":"string"},"totalCounselingCount":{"type":"integer","format":"int32"},"averageRating":{"type":"number","format":"double"}}},"Pageable":{"type":"object","properties":{"page":{"minimum":0,"type":"integer","format":"int32"},"size":{"minimum":1,"type":"integer","format":"int32"},"sort":{"type":"array","items":{"type":"string"}}}},"MatchingResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"title":{"type":"string"},"description":{"type":"string"},"department":{"type":"string"},"creatorRole":{"type":"string","enum":["SPEAKER","LISTENER"]}}},"PageMatchingResponse":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/MatchingResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"PageWaitingUserResponse":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/WaitingUserResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"WaitingUserResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"waitingUserId":{"type":"integer","format":"int64"},"waitingUserNickname":{"type":"string"},"waitingUserDepartment":{"type":"string"},"waitingUserEntranceTime":{"type":"integer","format":"int32"},"waitingUserGraduation":{"type":"boolean"},"waitingUserCounselingCount":{"type":"integer","format":"int32"},"waitingUserProfileImage":{"type":"string"},"message":{"type":"string"},"status":{"type":"string","enum":["PENDING","ACCEPTED","REJECTED"]},"createdAt":{"type":"string","format":"date-time"}}},"PageMagazineResponse":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/MagazineResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"MagazineDetailResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"title":{"type":"string"},"content":{"type":"string"},"category":{"type":"string","enum":["ACADEMIC","CAREER","RELATIONSHIP","MENTAL_HEALTH","CAMPUS_LIFE","PERSONAL_GROWTH","FINANCIAL","EMPLOYMENT","OTHER"]},"authorName":{"type":"string"},"authorId":{"type":"integer","format":"int64"},"likeCount":{"type":"integer","format":"int32"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"author":{"type":"boolean"}}},"ChatRoomResponse":{"type":"object","properties":{"roomId":{"type":"integer","format":"int64"},"matchingId":{"type":"integer","format":"int64"},"chatRoomStatus":{"type":"string","enum":["ACTIVE","PENDING","CLOSED","CLOSE_REQUEST","DELETED"]},"unreadCount":{"type":"integer","format":"int64"},"lastMessageTime":{"type":"string","format":"date-time"},"lastMessage":{"type":"string"},"oppositeId":{"type":"integer","format":"int64"},"oppositeName":{"type":"string"},"oppositeImage":{"type":"string"},"userRole":{"type":"string"},"matchingTitle":{"type":"string"},"creator":{"type":"boolean"}}},"PageChatRoomResponse":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/ChatRoomResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"ChatSearchResponse":{"type":"object","properties":{"matchedMessageIds":{"type":"array","items":{"type":"integer","format":"int64"}},"totalMatches":{"type":"integer","format":"int32"},"firstVisibleMatchId":{"type":"integer","format":"int64"}}},"SearchNavigationResponse":{"type":"object","properties":{"targetMessageId":{"type":"integer","format":"int64"},"additionalMessages":{"type":"array","items":{"$ref":"#/components/schemas/ChatMessageResponse"}},"hasMoreResults":{"type":"boolean"},"currentMatchIndex":{"type":"integer","format":"int32"},"totalMatches":{"type":"integer","format":"int32"}}},"ChatRoomDetailResponse":{"type":"object","properties":{"roomId":{"type":"integer","format":"int64"},"matchingId":{"type":"integer","format":"int64"},"createdAt":{"type":"string","format":"date-time"},"roomStatus":{"type":"string","enum":["ACTIVE","PENDING","CLOSED","CLOSE_REQUEST","DELETED"]},"closeRequestRole":{"type":"string","enum":["SPEAKER","LISTENER"]},"closeRequestedAt":{"type":"string","format":"date-time"},"messages":{"type":"array","items":{"$ref":"#/components/schemas/ChatMessageResponse"}},"listener":{"type":"boolean"}}},"PageReportDetailResponse":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/ReportDetailResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"ReportDetailResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"reporterId":{"type":"integer","format":"int64"},"reporterName":{"type":"string"},"reporterImage":{"type":"string"},"reporterReportCount":{"type":"integer","format":"int32"},"reportedUserId":{"type":"integer","format":"int64"},"reportedUserName":{"type":"string"},"reportedUserImage":{"type":"string"},"reportedUserReportCount":{"type":"integer","format":"int32"},"reportReason":{"type":"string","enum":["ABUSIVE_LANGUAGE","SEXUAL_HARASSMENT","SPAM_OR_REPETITIVE","MALICIOUS_LINK","EXCESSIVE_PROMOTION","PERSONAL_INFO_VIOLATION","ILLEGAL_CONTENT","OTHER"]},"reportTarget":{"type":"string","enum":["MATCHING","CHATROOM","PROFILE"]},"targetId":{"type":"integer","format":"int64"},"additionalComment":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"ReportStatisticsResponse":{"type":"object","properties":{"totalReports":{"type":"integer","format":"int64"},"reportsByReason":{"type":"object","additionalProperties":{"type":"integer","format":"int64"}},"reportsByTarget":{"type":"object","additionalProperties":{"type":"integer","format":"int64"}}}},"MagazineCategoryStatistics":{"type":"object","properties":{"category":{"type":"string","enum":["ACADEMIC","CAREER","RELATIONSHIP","MENTAL_HEALTH","CAMPUS_LIFE","PERSONAL_GROWTH","FINANCIAL","EMPLOYMENT","OTHER"]},"magazineCount":{"type":"integer","format":"int32"},"totalLikes":{"type":"integer","format":"int32"}}}}}}